#app {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: 70%;
    margin: 0 auto;
    max-width: 1024px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    background: #f2f2f2;
    border-left: 5px solid #07c472;
}

h1, h2 {
    border-left: 5px solid #07c472;
    padding-left: 24px;
    margin: 35px 0;
}

button[name="calculate"] {
    width: 200px;
    align-self: center;
    float: right;
    padding: 20px 0px;
    font-weight: 500;
    color: white;
    background: #1b9962;
    border: 0;
    border-bottom: 3px solid #116541;
    font-size: 20px;
    outline: none;
}

button[name="calculate"]:active {
    background: #196845;    
}

.breaker {
    clear: both;
}

.computed-repayment {
    width: 85%;
    margin: 0 auto;
    font-size: 25px;
}

.computed-repayment div{
    margin-bottom: 10px;
}

.computed-repayment #title {
    font-weight: bolder;
}